.shelf_block {background-color: #00FF00;
				width: 20%;
				height: 20%;
				float:left;
				margin: 1%;
				font-size:80%}

.warehouse_block {clear:both;}

/*p.no2 {background-color: gray; padding: 20px;}