body {
     margin:0 auto;
	 position:relative;
	 background-color:#e6e6e6;
}
#box_q{
	margin:0 auto;
	width:100%;
}
#left_q{
	float:left;
	width:20%;
}
#right_q{
	float:left;
	width:80%;
}
#left_q table{
	
	width:100%;
}
#left_q table caption{
	margin-left:10px;
	width:80px;
	height:32px;
	float:left;
}
#left_q table tr{
	width:200px;
	height:32px;
}
#left_q table td{
	width:200px;
	height:32px;
}
#left_q table #tijiao{
	width:100px;
	float:right;
}
#left_q table input{
	margin-left:10px;
}
#right_top{
	float:left;
	width:100%;
}
#right_top table{
	width:300px;
	height:40px;
}
#right_top table tr{
	width:800px;
	height:32px;
}
#right_top table td{
	width:800px;
	height:32px;
}
#right_dow{
	float:left;
	width:100%;
}
#right_dow table{
	width:100%;
	height:1400px;
}
#right_dow table tr{
	width:800px;
	height:1400px;
}
#right_dow table td{
	width:800px;
	height:1400pxx;
}


